@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body{
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.header{
   width: 100%;
   height: 10vh; 
   display: flex;
   flex-direction: row;
   position: absolute;
   top: 0;
   align-items: center;
   justify-content: start;
   gap: 80vw;
}

.header > svg{
    height: 3vw;
    width: 3vw;
    color: #EE232B;
    margin: 0;
    padding: 0;
    position: relative;
    left: 5vw;
    transition: 1s;
    z-index: 2;
}

.options{
    display: flex;
    flex-direction: row;
    gap: 1vh;
    font-weight: 500;
    z-index: 2;
}

.disp{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 70vh;
    width: 40vw;
    gap: 1.5vh;
    left: 4%;
}

INPUT{
    height: 7vh;
    border-radius: 1vh;
    border: solid 1px;
}

h1{
    font-size: 5vw;
    margin: 0;
    padding: 0;
    line-height: 16vh;
}

button{
    height: 8vh;
    width: 65%;
    font-weight: 600;
    background-color: #EE232B;
    border-radius: 4vh;
    font-size: 2.5vh;
    color: white;
    border: solid .3vh black;
    margin-top: 1vh;
}

.options > sub:hover{
    cursor: pointer;
    font-weight: 700;
    transform: scale(1.08);
}

sub{
    font-size: 1.6vh;
    transition: .2s;
}