@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body{
    background-color: #0C0B0A;
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    transition: background-color .3s;
}



.header{
   width: 100%;
   height: 10vh; 
   display: flex;
   flex-direction: row;
   position: absolute;
   top: 0;
   align-items: center;
   justify-content: start;
   gap: 80vw;
   left: 3vw;
   transition: background-color .3s;
}

.header > svg{
    height: 3vw;
    width: 3vw;
    color: #EE232B;
    margin: 0;
    padding: 0;
    position: relative;
    left: 5vw;
    transition: 1s;
    z-index: 2;
}

.options{
    display: flex;
    flex-direction: row;
    gap: 1vh;
    color: white;
    font-weight: 500;
    z-index: 2;
    transition: .2s;
}

.opening{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 3vw;
    position: absolute;
    bottom: 0;
    transition: .5s;
}

/* .opening > img{
    height: 85%;
    width: 80%;
    object-fit: cover;
} */

.opening > div{
    height: 100%;
    width: 50%;
}

.Description{
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: center;
    position: relative;
    left: 4%;
    gap: 1vh;
}

.Description > h1{
    font-size: 12vh;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

button{
    background-color: #f5171e;
    height: 4vw;
    width: 10vw;
    color: white;
    border: solid 5px black;
    border-radius: 2vw;
    font-weight: 600;
    transition: .4s;
}

.image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.image > img{
    height: 65vw;
    width: 65vw;
    position: absolute;
    object-fit: cover;
    transition: .3s;
    background: none;
    display: block;
}

button:hover{
    cursor: pointer;
    background-color: white;
    color: #EE232B;
}

.options > sub:hover{
    cursor: pointer;
    font-weight: 700;
    transform: scale(1.08);
}

.header > svg:hover{
    color: white;
    cursor: pointer;
}

sub{
    font-size: 1.6vh;
    transition: .2s;
}
h2{
    font-size: 3.1vh;
}
button{
    font-size: .9vw;
}
h1{
    width: 70%;
}

.products{
    position: absolute;
    top: 100%;
    width: 100vw;
    height: 100vh;
}
