@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body{
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.header{
   width: 100%;
   height: 10vh; 
   display: flex;
   flex-direction: row;
   position: absolute;
   top: 0;
   align-items: center;
   justify-content: start;
   gap: 80vw;
}

.header > svg{
    height: 3vw;
    width: 3vw;
    color: #EE232B;
    margin: 0;
    padding: 0;
    position: relative;
    left: 5vw;
    transition: 1s;
    z-index: 2;
}

.options{
    display: flex;
    flex-direction: row;
    gap: 1vh;
    font-weight: 500;
    z-index: 2;
}


.options > sub:hover{
    cursor: pointer;
    font-weight: 700;
    transform: scale(1.08);
}

sub{
    font-size: 1.6vh;
    transition: .2s;
}

.header > svg:hover{
    color: white;
    cursor: pointer;
}
.disp{
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
form{
    display: flex;
    flex-direction: column;
    height: 60%;
    width: 40%;
    gap: 1.5vh;
    align-items: center;
    justify-content: center;
}

INPUT{
    height: 7vh;
    border-radius: 1vh;
    border: solid 1px;
    font-size: large;
    width: 60%;
}

h1{
    font-size: 5vw;
    margin: 0;
    padding: 0;
    line-height: 16vh;
}
.switch{
    position: absolute;
    width: 70%;
    height: 90%;
    display: flex;
    flex-direction: row;
}
button{
    background-color: #EE232B;
    border-radius: 2vh;
    color: white;
    transition: .2s;
}
button:hover{
    cursor: pointer;
    color: #EE232B;
    background-color: white;
}